
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.summary, .pagination {
  grid-column-start: 1;
  grid-column-end: -1;
}

.list .card {
  display: block;
  float: left;
  padding: 10px;
  min-width: 200px;
  height: 200px;
  border: 1px solid #000;
  overflow: hidden;
}

.list .card:hover {
  cursor: pointer;
  text-decoration: none;
}